USE [membresias_club]
GO
/****** Object:  Table [dbo].[areas]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[mensaje_cliente] [text] NOT NULL,
	[normas] [text] NOT NULL,
	[cupo_maximo] [int] NOT NULL,
	[cupo_actual] [int] NOT NULL,
	[horario] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargos]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargos](
	[id_cargo] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[actividades] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[num] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_p] [varchar](50) NULL,
	[apellido_m] [varchar](50) NULL,
	[sexo] [char](1) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[direccion] [text] NOT NULL,
	[codigo_postal] [int] NULL,
	[id_estado] [int] NULL,
	[id_municipio] [int] NULL,
	[telefono] [varchar](15) NULL,
	[correo] [varchar](80) NOT NULL,
	[rfid] [varchar](30) NOT NULL,
	[nip] [int] NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[fecha_retiro] [date] NULL,
	[id_estatus] [tinyint] NOT NULL,
	[id_cargo] [tinyint] NOT NULL,
	[id_privilegio] [tinyint] NOT NULL,
	[id_area] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_estado] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estatus_empleados]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estatus_empleados](
	[id_estatus] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre_estatus] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[id_municipio] [int] IDENTITY(1,1) NOT NULL,
	[id_estado] [int] NULL,
	[nombre_municipio] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[privilegios]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[privilegios](
	[id_privilegio] [tinyint] IDENTITY(1,1) NOT NULL,
	[privilegio] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_privilegio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[listarEmpleados]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[listarEmpleados]
as
select e.num,
   e.id_empleado,
   e.nombre Nombre, 
   e.apellido_p 'Apellido paterno', 
   e.apellido_m 'Apellido materno', 
   e.sexo Sexo, 
   e.fecha_nacimiento 'Fecha de nacimiento', 
   e.direccion Dirección, 
   e.codigo_postal 'Código postal', 
   (select top(1) nombre_estado from estados es where e.id_estado = es.id_estado) Estado, 
   (select top(1) nombre_municipio from municipios m where e.id_municipio = m.id_municipio) Municipio, 
   e.telefono Teléfono, 
   e.correo Correo, 
   e.rfid RFID, 
   e.nip NIP, 
   e.fecha_registro 'Fecha de registro', 
   e.fecha_retiro 'Fecha de retiro', 
   (select top(1) nombre_estatus from estatus_empleados ee where ee.id_estatus = e.id_estatus) Estatus,
   (select top(1) nombre from cargos c where c.id_cargo = e.id_cargo) Cargo,
   (select top(1) privilegio from privilegios p where p.id_privilegio = e.id_privilegio) Privilegio,
   (select top(1) nombre from areas a where a.id_area = e.id_area) Área 
   from empleados e where e.id_estatus <> 1
GO
/****** Object:  Table [dbo].[accesibilidad_areas]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accesibilidad_areas](
	[id_categoria] [int] NOT NULL,
	[id_area] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[areas_visitadas]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas_visitadas](
	[id_cliente] [int] NOT NULL,
	[id_membresia_familiar] [varchar](30) NULL,
	[id_area] [int] NOT NULL,
	[hora_entrada] [time](7) NOT NULL,
	[hora_salida] [time](7) NOT NULL,
	[fecha] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias_membresias]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias_membresias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[id_precio] [int] NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_membresia] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_p] [varchar](50) NULL,
	[apellido_m] [varchar](50) NULL,
	[sexo] [char](1) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[direccion] [text] NOT NULL,
	[codigo_postal] [int] NULL,
	[id_estado] [int] NULL,
	[id_municipio] [int] NULL,
	[telefono] [bigint] NOT NULL,
	[correo] [varchar](80) NULL,
	[fecha_registro] [date] NOT NULL,
	[fecha_retiro] [date] NULL,
	[estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id_venta] [int] NULL,
	[id_membresia_familiar] [varchar](30) NULL,
	[costo] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entradas_salidas]    Script Date: 24/07/2018 07:13:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradas_salidas](
	[id_empleado] [varchar](30) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](7) NOT NULL,
	[hora_salida] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_areas]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_areas](
	[id_area] [int] NOT NULL,
	[nombre_item] [varchar](100) NOT NULL,
	[cantidad_inicio] [int] NOT NULL,
	[cantidad_actual] [int] NOT NULL,
	[detalles] [text] NULL,
	[notas] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membresia_familiar_miembros]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membresia_familiar_miembros](
	[id_membresia] [varchar](30) NOT NULL,
	[id_membresia_familiar] [varchar](30) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido_p] [varchar](50) NULL,
	[apellido_m] [varchar](50) NULL,
	[sexo] [char](1) NOT NULL,
	[id_precio_miembro] [tinyint] NOT NULL,
	[estatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_membresia_familiar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[membresias]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[membresias](
	[num] [int] IDENTITY(1,1) NOT NULL,
	[id_membresia] [varchar](30) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_empleado] [varchar](30) NOT NULL,
	[vigencia_inicio] [date] NOT NULL,
	[vigencia_fin] [date] NOT NULL,
	[estatus] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_membresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[precio_por_miembro]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[precio_por_miembro](
	[id_precio_miembro] [tinyint] IDENTITY(1,1) NOT NULL,
	[tipo_edad] [bit] NOT NULL,
	[precio_extra] [money] NOT NULL,
	[estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_precio_miembro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[precios_membresias]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[precios_membresias](
	[id_precio] [int] IDENTITY(1,1) NOT NULL,
	[estatus] [bit] NOT NULL,
	[costo] [money] NOT NULL,
	[id_promocion] [int] NULL,
	[iva] [tinyint] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_precio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones](
	[id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [text] NOT NULL,
	[porcentaje_descuento] [tinyint] NOT NULL,
	[estatus] [bit] NOT NULL,
	[estatus_visible] [bit] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[id_turno] [tinyint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[hora_entrada] [time](7) NULL,
	[hora_salida] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos_empleados]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos_empleados](
	[id_empleado] [varchar](30) NOT NULL,
	[id_turno] [tinyint] NOT NULL,
	[dia_inicio] [date] NOT NULL,
	[dia_fin] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[id_empleado] [varchar](30) NULL,
	[costo_membresia] [money] NULL,
	[descuento_promocion] [int] NULL,
	[iva] [int] NULL,
	[total] [money] NULL,
	[fecha] [datetime] NULL,
	[estatus_venta] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accesibilidad_areas] ([id_categoria], [id_area]) VALUES (4, 1)
INSERT [dbo].[accesibilidad_areas] ([id_categoria], [id_area]) VALUES (12, 16)
INSERT [dbo].[accesibilidad_areas] ([id_categoria], [id_area]) VALUES (9, 11)
GO
SET IDENTITY_INSERT [dbo].[areas] ON 

INSERT [dbo].[areas] ([id_area], [nombre], [mensaje_cliente], [normas], [cupo_maximo], [cupo_actual], [horario]) VALUES (1, N'Nunc ullamcorper, velit in aliquet', N'eget laoreet posuere, enim nisl elementum', N'sodales nisi magna sed dui. Fusce aliquam, enim', 120, 143, N'adipiscing non, luctus')
INSERT [dbo].[areas] ([id_area], [nombre], [mensaje_cliente], [normas], [cupo_maximo], [cupo_actual], [horario]) VALUES (2, N'purus, in molestie', N'vel sapien imperdiet ornare. In faucibus. Morbi vehicula. Pellentesque tincidunt', N'fringilla, porttitor vulputate, posuere vulputate,', 112, 152, N'a, malesuada')
INSERT [dbo].[areas] ([id_area], [nombre], [mensaje_cliente], [normas], [cupo_maximo], [cupo_actual], [horario]) VALUES (3, N'Nullam suscipit, est', N'malesuada fringilla est. Mauris eu turpis. Nulla', N'semper et, lacinia vitae, sodales', 272, 115, N'in magna. Phasellus')
SET IDENTITY_INSERT [dbo].[areas] OFF
INSERT [dbo].[areas_visitadas] ([id_cliente], [id_membresia_familiar], [id_area], [hora_entrada], [hora_salida], [fecha]) VALUES (157, N'107', 44, CAST(N'04:06:50' AS Time), CAST(N'15:04:10' AS Time), CAST(N'2018-03-19' AS Date))
INSERT [dbo].[areas_visitadas] ([id_cliente], [id_membresia_familiar], [id_area], [hora_entrada], [hora_salida], [fecha]) VALUES (68, N'68', 23, CAST(N'19:34:17' AS Time), CAST(N'14:31:08' AS Time), CAST(N'2028-02-18' AS Date))
INSERT [dbo].[areas_visitadas] ([id_cliente], [id_membresia_familiar], [id_area], [hora_entrada], [hora_salida], [fecha]) VALUES (229, N'76', 43, CAST(N'06:40:08' AS Time), CAST(N'05:00:42' AS Time), CAST(N'2028-03-19' AS Date))
GO
SET IDENTITY_INSERT [dbo].[cargos] ON 

INSERT [dbo].[cargos] ([id_cargo], [nombre], [actividades]) VALUES (1, N'Donec tempor,', N'Nunc sed orci lobortis augue scelerisque mollis. Phasellus libero mauris, aliquam eu, accumsan sed,')
INSERT [dbo].[cargos] ([id_cargo], [nombre], [actividades]) VALUES (2, N'ipsum. Suspendisse sagittis.', N'Cras sed leo. Cras vehicula aliquet libero. Integer in magna. Phasellus dolor elit, pellentesque a,')
INSERT [dbo].[cargos] ([id_cargo], [nombre], [actividades]) VALUES (3, N'dolor sit', N'mauris sit amet lorem semper auctor. Mauris vel turpis. Aliquam adipiscing')
SET IDENTITY_INSERT [dbo].[cargos] OFF
SET IDENTITY_INSERT [dbo].[categorias_membresias] ON 

INSERT [dbo].[categorias_membresias] ([id_categoria], [categoria], [id_precio], [fecha_registro]) VALUES (4, N'arcu eu', 5, CAST(N'2017-11-17T00:00:00.000' AS DateTime))
INSERT [dbo].[categorias_membresias] ([id_categoria], [categoria], [id_precio], [fecha_registro]) VALUES (5, N'dui. Cras pellentesque.', 10, CAST(N'2006-12-17T00:00:00.000' AS DateTime))
INSERT [dbo].[categorias_membresias] ([id_categoria], [categoria], [id_precio], [fecha_registro]) VALUES (6, N'a, arcu.', 5, CAST(N'2020-07-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[categorias_membresias] OFF
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [id_membresia], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [fecha_registro], [fecha_retiro], [estatus]) VALUES (2, N'1', N'Phelan', N'Moss', N'Sheppard', N'm', CAST(N'2024-06-19' AS Date), N'750-6901 Sagittis Street', 39720, 12, 28, 5035089845, N'Fusce.fermentum@velit.co.uk', CAST(N'2008-05-19' AS Date), CAST(N'2021-10-18' AS Date), 0)
INSERT [dbo].[clientes] ([id_cliente], [id_membresia], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [fecha_registro], [fecha_retiro], [estatus]) VALUES (3, N'2', N'Hedwig', N'Berg', N'Chase', N'f', CAST(N'2022-12-18' AS Date), N'P.O. Box 958, 3441 Luctus Ave', 83074, 16, 37, 6115763944, N'orci.tincidunt@molestieorcitincidunt.edu', CAST(N'2003-02-18' AS Date), CAST(N'2030-01-18' AS Date), 1)
INSERT [dbo].[clientes] ([id_cliente], [id_membresia], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [fecha_registro], [fecha_retiro], [estatus]) VALUES (4, N'3', N'Joelle', N'Reilly', N'Bradley', N'f', CAST(N'2005-05-19' AS Date), N'6794 Et Road', 30165, 13, 41, 6822580150, N'convallis.dolor@lacusEtiam.edu', CAST(N'2005-11-17' AS Date), CAST(N'2011-07-18' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[clientes] OFF
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([num], [id_empleado], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [rfid], [nip], [fecha_registro], [fecha_retiro], [id_estatus], [id_cargo], [id_privilegio], [id_area]) VALUES (1, N'1', N'Zelda', N'Robertson', N'Schultz', N'f', CAST(N'2012-12-17' AS Date), N'P.O. Box 692, 1182 Aenean Rd.', 75723, 3, 132, N'2938967276', N'et.netus.et@acmattis.net', N'1', 9636, CAST(N'2017-12-17' AS Date), CAST(N'2019-06-19' AS Date), 1, 5, 8, 2)
INSERT [dbo].[empleados] ([num], [id_empleado], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [rfid], [nip], [fecha_registro], [fecha_retiro], [id_estatus], [id_cargo], [id_privilegio], [id_area]) VALUES (10, N'10', N'Geraldine', N'Irwin', N'Galloway', N'm', CAST(N'2025-04-19' AS Date), N'Ap #763-3103 Tempus Street', 29260, 21, 66, N'2966355050', N'eu.elit.Nulla@maurisut.com', N'10', 8909, CAST(N'2006-07-19' AS Date), CAST(N'2012-01-18' AS Date), 7, 3, 2, 19)
INSERT [dbo].[empleados] ([num], [id_empleado], [nombre], [apellido_p], [apellido_m], [sexo], [fecha_nacimiento], [direccion], [codigo_postal], [id_estado], [id_municipio], [telefono], [correo], [rfid], [nip], [fecha_registro], [fecha_retiro], [id_estatus], [id_cargo], [id_privilegio], [id_area]) VALUES (100, N'100', N'Bert', N'Mejia', N'Nash', N'm', CAST(N'2005-06-19' AS Date), N'1778 Vel, St.', 12710, 17, 25, N'3874728852', N'Duis@tellusjustosit.co.uk', N'100', 2301, CAST(N'2005-09-17' AS Date), CAST(N'2024-01-19' AS Date), 1, 6, 7, 29)
GO
SET IDENTITY_INSERT [dbo].[empleados] OFF
INSERT [dbo].[entradas_salidas] ([id_empleado], [fecha], [hora_entrada], [hora_salida]) VALUES (N'1', CAST(N'2002-08-18' AS Date), CAST(N'23:16:29' AS Time), CAST(N'06:07:30' AS Time))
INSERT [dbo].[entradas_salidas] ([id_empleado], [fecha], [hora_entrada], [hora_salida]) VALUES (N'2', CAST(N'2020-10-17' AS Date), CAST(N'18:55:21' AS Time), CAST(N'02:57:14' AS Time))
INSERT [dbo].[entradas_salidas] ([id_empleado], [fecha], [hora_entrada], [hora_salida]) VALUES (N'3', CAST(N'2030-01-19' AS Date), CAST(N'02:33:00' AS Time), CAST(N'15:12:44' AS Time))
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([id_estado], [nombre_estado]) VALUES (1, N'Zielona Góra')
INSERT [dbo].[estados] ([id_estado], [nombre_estado]) VALUES (2, N'Ohain')
INSERT [dbo].[estados] ([id_estado], [nombre_estado]) VALUES (3, N'Broken Arrow')
SET IDENTITY_INSERT [dbo].[estados] OFF
SET IDENTITY_INSERT [dbo].[estatus_empleados] ON 

INSERT [dbo].[estatus_empleados] ([id_estatus], [nombre_estatus]) VALUES (1, N'risus. Duis a mi')
INSERT [dbo].[estatus_empleados] ([id_estatus], [nombre_estatus]) VALUES (2, N'Cras dictum ultricies ligula.')
INSERT [dbo].[estatus_empleados] ([id_estatus], [nombre_estatus]) VALUES (3, N'eget, volutpat')
SET IDENTITY_INSERT [dbo].[estatus_empleados] OFF
INSERT [dbo].[inventario_areas] ([id_area], [nombre_item], [cantidad_inicio], [cantidad_actual], [detalles], [notas]) VALUES (43, N'Morbi quis urna.', 188, 272, N'Donec tincidunt. Donec vitae erat vel', N'dui. Suspendisse ac metus vitae velit egestas lacinia. Sed congue, elit')
INSERT [dbo].[inventario_areas] ([id_area], [nombre_item], [cantidad_inicio], [cantidad_actual], [detalles], [notas]) VALUES (1, N'velit egestas lacinia.', 120, 208, N'senectus et netus et malesuada fames ac', N'elit, dictum eu, eleifend nec, malesuada ut, sem. Nulla interdum. Curabitur dictum. Phasellus in felis.')
INSERT [dbo].[inventario_areas] ([id_area], [nombre_item], [cantidad_inicio], [cantidad_actual], [detalles], [notas]) VALUES (16, N'scelerisque, lorem ipsum sodales', 187, 148, N'turpis egestas. Fusce aliquet magna a neque.', N'per conubia nostra, per inceptos')
GO
INSERT [dbo].[membresia_familiar_miembros] ([id_membresia], [id_membresia_familiar], [nombre], [apellido_p], [apellido_m], [sexo], [id_precio_miembro], [estatus]) VALUES (N'249', N'1', N'Isabella', N'Hayes', N'Ellison', N'f', 22, 0)
INSERT [dbo].[membresia_familiar_miembros] ([id_membresia], [id_membresia_familiar], [nombre], [apellido_p], [apellido_m], [sexo], [id_precio_miembro], [estatus]) VALUES (N'290', N'10', N'Kenneth', N'Rivers', N'Mueller', N'f', 6, 1)
INSERT [dbo].[membresia_familiar_miembros] ([id_membresia], [id_membresia_familiar], [nombre], [apellido_p], [apellido_m], [sexo], [id_precio_miembro], [estatus]) VALUES (N'63', N'100', N'Raja', N'Espinoza', N'Castaneda', N'f', 22, 0)
GO
SET IDENTITY_INSERT [dbo].[membresias] ON 

INSERT [dbo].[membresias] ([num], [id_membresia], [id_categoria], [id_empleado], [vigencia_inicio], [vigencia_fin], [estatus], [fecha_registro], [fecha_modificacion]) VALUES (1, N'1', 14, N'150', CAST(N'2025-02-19' AS Date), CAST(N'2005-10-17' AS Date), 1, CAST(N'2004-10-17T00:00:00.000' AS DateTime), CAST(N'2018-07-18T00:00:00.000' AS DateTime))
INSERT [dbo].[membresias] ([num], [id_membresia], [id_categoria], [id_empleado], [vigencia_inicio], [vigencia_fin], [estatus], [fecha_registro], [fecha_modificacion]) VALUES (10, N'10', 14, N'193', CAST(N'2013-10-17' AS Date), CAST(N'2025-12-17' AS Date), 1, CAST(N'2022-08-17T00:00:00.000' AS DateTime), CAST(N'2023-03-18T00:00:00.000' AS DateTime))
INSERT [dbo].[membresias] ([num], [id_membresia], [id_categoria], [id_empleado], [vigencia_inicio], [vigencia_fin], [estatus], [fecha_registro], [fecha_modificacion]) VALUES (100, N'100', 22, N'1', CAST(N'2028-06-19' AS Date), CAST(N'2022-12-17' AS Date), 0, CAST(N'2019-12-18T00:00:00.000' AS DateTime), CAST(N'2019-02-18T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[membresias] OFF
SET IDENTITY_INSERT [dbo].[municipios] ON 

INSERT [dbo].[municipios] ([id_municipio], [id_estado], [nombre_municipio]) VALUES (1, 8, N'Waals-Brabant')
INSERT [dbo].[municipios] ([id_municipio], [id_estado], [nombre_municipio]) VALUES (2, 11, N'SIC')
INSERT [dbo].[municipios] ([id_municipio], [id_estado], [nombre_municipio]) VALUES (3, 13, N'LA')
GO
SET IDENTITY_INSERT [dbo].[municipios] OFF
SET IDENTITY_INSERT [dbo].[precio_por_miembro] ON 

INSERT [dbo].[precio_por_miembro] ([id_precio_miembro], [tipo_edad], [precio_extra], [estatus]) VALUES (1, 0, 1571.0000, 0)
INSERT [dbo].[precio_por_miembro] ([id_precio_miembro], [tipo_edad], [precio_extra], [estatus]) VALUES (2, 0, 1841.0000, 1)
INSERT [dbo].[precio_por_miembro] ([id_precio_miembro], [tipo_edad], [precio_extra], [estatus]) VALUES (3, 1, 777.0000, 0)
SET IDENTITY_INSERT [dbo].[precio_por_miembro] OFF
SET IDENTITY_INSERT [dbo].[precios_membresias] ON 

INSERT [dbo].[precios_membresias] ([id_precio], [estatus], [costo], [id_promocion], [iva], [fecha_registro]) VALUES (1, 0, 1793.0000, 11, 14, CAST(N'2027-09-17T00:00:00.000' AS DateTime))
INSERT [dbo].[precios_membresias] ([id_precio], [estatus], [costo], [id_promocion], [iva], [fecha_registro]) VALUES (2, 1, 1985.0000, 32, 27, CAST(N'2005-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[precios_membresias] ([id_precio], [estatus], [costo], [id_promocion], [iva], [fecha_registro]) VALUES (3, 1, 1170.0000, 37, 3, CAST(N'2012-04-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[precios_membresias] OFF
SET IDENTITY_INSERT [dbo].[privilegios] ON 

INSERT [dbo].[privilegios] ([id_privilegio], [privilegio]) VALUES (1, N'sed dui.')
INSERT [dbo].[privilegios] ([id_privilegio], [privilegio]) VALUES (2, N'eu,')
INSERT [dbo].[privilegios] ([id_privilegio], [privilegio]) VALUES (3, N'Donec tempus, lorem')
SET IDENTITY_INSERT [dbo].[privilegios] OFF
SET IDENTITY_INSERT [dbo].[promociones] ON 

INSERT [dbo].[promociones] ([id_promocion], [nombre], [descripcion], [porcentaje_descuento], [estatus], [estatus_visible], [fecha_inicio], [fecha_fin]) VALUES (1, N'aliquet lobortis, nisi nibh lacinia', N'Duis mi enim, condimentum eget, volutpat ornare, facilisis eget,', 15, 1, 0, CAST(N'2018-05-07' AS Date), CAST(N'2019-03-02' AS Date))
INSERT [dbo].[promociones] ([id_promocion], [nombre], [descripcion], [porcentaje_descuento], [estatus], [estatus_visible], [fecha_inicio], [fecha_fin]) VALUES (2, N'adipiscing elit. Curabitur sed', N'volutpat ornare, facilisis eget, ipsum. Donec sollicitudin adipiscing ligula. Aenean gravida', 1, 0, 0, CAST(N'2017-11-25' AS Date), CAST(N'2018-08-10' AS Date))
INSERT [dbo].[promociones] ([id_promocion], [nombre], [descripcion], [porcentaje_descuento], [estatus], [estatus_visible], [fecha_inicio], [fecha_fin]) VALUES (3, N'eget, dictum placerat, augue.', N'est mauris, rhoncus id, mollis nec, cursus', 1, 0, 1, CAST(N'2018-12-06' AS Date), CAST(N'2018-06-24' AS Date))
SET IDENTITY_INSERT [dbo].[promociones] OFF
SET IDENTITY_INSERT [dbo].[turnos] ON 

INSERT [dbo].[turnos] ([id_turno], [nombre], [hora_entrada], [hora_salida]) VALUES (1, N'faucibus ut, nulla.', CAST(N'08:39:25' AS Time), CAST(N'15:10:34' AS Time))
INSERT [dbo].[turnos] ([id_turno], [nombre], [hora_entrada], [hora_salida]) VALUES (2, N'nisi a', CAST(N'19:32:25' AS Time), CAST(N'21:13:21' AS Time))
INSERT [dbo].[turnos] ([id_turno], [nombre], [hora_entrada], [hora_salida]) VALUES (3, N'Sed nulla', CAST(N'20:49:43' AS Time), CAST(N'10:08:59' AS Time))
SET IDENTITY_INSERT [dbo].[turnos] OFF
INSERT [dbo].[turnos_empleados] ([id_empleado], [id_turno], [dia_inicio], [dia_fin]) VALUES (N'1', 2, CAST(N'2015-12-17' AS Date), CAST(N'2013-04-18' AS Date))
INSERT [dbo].[turnos_empleados] ([id_empleado], [id_turno], [dia_inicio], [dia_fin]) VALUES (N'2', 3, CAST(N'2028-01-18' AS Date), CAST(N'2001-08-18' AS Date))
INSERT [dbo].[turnos_empleados] ([id_empleado], [id_turno], [dia_inicio], [dia_fin]) VALUES (N'3', 1, CAST(N'2013-07-18' AS Date), CAST(N'2008-11-17' AS Date))
GO
ALTER TABLE [dbo].[accesibilidad_areas]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [dbo].[areas] ([id_area])
GO
ALTER TABLE [dbo].[accesibilidad_areas]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias_membresias] ([id_categoria])
GO
ALTER TABLE [dbo].[areas_visitadas]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [dbo].[areas] ([id_area])
GO
ALTER TABLE [dbo].[areas_visitadas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[areas_visitadas]  WITH CHECK ADD FOREIGN KEY([id_membresia_familiar])
REFERENCES [dbo].[membresia_familiar_miembros] ([id_membresia_familiar])
GO
ALTER TABLE [dbo].[categorias_membresias]  WITH CHECK ADD FOREIGN KEY([id_precio])
REFERENCES [dbo].[precios_membresias] ([id_precio])
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id_estado])
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD FOREIGN KEY([id_membresia])
REFERENCES [dbo].[membresias] ([id_membresia])
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD FOREIGN KEY([id_municipio])
REFERENCES [dbo].[municipios] ([id_municipio])
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD FOREIGN KEY([id_membresia_familiar])
REFERENCES [dbo].[membresia_familiar_miembros] ([id_membresia_familiar])
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[ventas] ([id])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [dbo].[areas] ([id_area])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_cargo])
REFERENCES [dbo].[cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id_estado])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_estatus])
REFERENCES [dbo].[estatus_empleados] ([id_estatus])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_municipio])
REFERENCES [dbo].[municipios] ([id_municipio])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([id_privilegio])
REFERENCES [dbo].[privilegios] ([id_privilegio])
GO
ALTER TABLE [dbo].[entradas_salidas]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[inventario_areas]  WITH CHECK ADD FOREIGN KEY([id_area])
REFERENCES [dbo].[areas] ([id_area])
GO
ALTER TABLE [dbo].[membresia_familiar_miembros]  WITH CHECK ADD FOREIGN KEY([id_membresia])
REFERENCES [dbo].[membresias] ([id_membresia])
GO
ALTER TABLE [dbo].[membresia_familiar_miembros]  WITH CHECK ADD FOREIGN KEY([id_precio_miembro])
REFERENCES [dbo].[precio_por_miembro] ([id_precio_miembro])
GO
ALTER TABLE [dbo].[membresias]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias_membresias] ([id_categoria])
GO
ALTER TABLE [dbo].[membresias]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id_estado])
GO
ALTER TABLE [dbo].[precios_membresias]  WITH CHECK ADD FOREIGN KEY([id_promocion])
REFERENCES [dbo].[promociones] ([id_promocion])
GO
ALTER TABLE [dbo].[turnos_empleados]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[turnos_empleados]  WITH CHECK ADD FOREIGN KEY([id_turno])
REFERENCES [dbo].[turnos] ([id_turno])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_empleado])
REFERENCES [dbo].[empleados] ([id_empleado])
GO
/****** Object:  StoredProcedure [dbo].[buscaEmpleados]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[buscaEmpleados]
  @parametro varchar(max)
  as
  select * from listarEmpleados le
	where 
	le.id_empleado like '%'+@parametro+'%' or
	CONCAT(le.Nombre,' ',le.[Apellido paterno],' ',le.[Apellido materno]) like '%'+@parametro+'%' or
	le.Sexo like '%'+@parametro+'%' or
	le.[Fecha de nacimiento] like '%'+@parametro+'%' or
	le.Dirección like '%'+@parametro+'%' or
	le.[Código postal] like '%'+@parametro+'%' or
	le.Estado like '%'+@parametro+'%' or
	le.Municipio like '%'+@parametro+'%' or
	le.Teléfono like '%'+@parametro+'%' or
	le.Correo like '%'+@parametro+'%' or
	le.RFID like '%'+@parametro+'%' or
	le.NIP like '%'+@parametro+'%' or
	le.[Fecha de registro] like '%'+@parametro+'%' or
	le.[Fecha de retiro] like '%'+@parametro+'%' or
	le.Estatus like '%'+@parametro+'%' or
	le.Cargo like '%'+@parametro+'%' or
	le.Privilegio like '%'+@parametro+'%' or
	le.Área like '%'+@parametro+'%' 
GO
/****** Object:  StoredProcedure [dbo].[empleados_aa]    Script Date: 24/07/2018 07:13:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[empleados_aa]
@check int,
@id_empleado varchar(30),
@nombre varchar(50),
@apellido_p varchar(50),
@apellido_m varchar(50),
@sexo char(1),
@fecha_nacimiento date,
@direccion text,
@codigo_postal int,
@id_estado int,
@id_municipio int,
@telefono varchar(15),
@correo varchar(30),
@rfid varchar(30),
@nip int,
@id_estatus int,
@id_cargo int,
@id_privilegio int,
@id_area int
as
begin
  if @check = 0	
	insert into empleados(id_empleado, nombre, apellido_p, apellido_m, sexo, fecha_nacimiento, direccion, codigo_postal, id_estado, id_municipio, telefono, correo, rfid, nip, fecha_registro, id_estatus, id_cargo, id_privilegio, id_area)
	values(@id_empleado, @nombre, @apellido_p, @apellido_m, @sexo, @fecha_nacimiento, @direccion, @codigo_postal, @id_estado, @id_municipio, @telefono, @correo, @rfid, @nip, getdate(), @id_estatus, @id_cargo, @id_privilegio, @id_area)
  else
    update empleados
	set nombre = @nombre,
	apellido_p = @apellido_p,
	apellido_m = @apellido_m,
	sexo = @sexo, 
	fecha_nacimiento = @fecha_nacimiento,
	direccion = @direccion,
	codigo_postal = @codigo_postal,
	id_estado = @id_estado,
	id_municipio = @id_municipio,
	telefono = @telefono,
	correo = @correo,
	rfid = @rfid,
	nip = @nip,
	id_estatus = @id_estatus,
	id_cargo = @id_cargo,
	id_privilegio = @id_privilegio,
	id_area = @id_area
	where id_empleado = @id_empleado
end
GO
